# python ignores
*.pyc
*.log

# distribution builds
dist/.pytest_cache/
dist/

# ignore the local bin folder
bin/

# environment files
.env
.env.*
.envrc

# build folders from docs
_build/
build/

# python virtual environments
.venv/
.venv

# todo files
TODO
TODO.md

# netbeans idea project
.idea/

# scripts we don't want commited
scripts/run_query.py
scripts/run_export.py
scripts/wind_diff.py

# notebook checkpoints
.ipynb_checkpoints

# iPython config and profiles
.ipython/profile_default/log
.ipython/profile_default/pid
.ipython/profile_default/history.sqlite

# This is the venv used for notebooks
# see requirements_notebook.txt
.venv_notebooks/

# jupyter local config ignores
.jupyter/migrated
.jupyter/jupyter_notebook_config.original.py
    ~/Dropbox/Projects/Opennem/opennempy  
